.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config
config.guess
config.h
config.h.in
xfs-config.h
xfs-config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
xfs
xfs.1
*~
*.o
xfs-*.tar.*
ChangeLog
tags
